
/*#18363E | #5F97AA | #2D5F6E | #3E88A5 | #93C4D1*/

*{
    scroll-behavior:smooth;
}
.navbar {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: transparent;
    width: 90vw;
    margin-left:5vw;
    opacity: 1;
    height: 10vh;
}
.logo{
    border:1px solid;
    width: 50vw;
    height:10vh;
}


.links {
    width:20vw;
    height:10vh;
    display: flex;
    gap: 2rem;
    justify-content:center;
    align-items: center;
}
li{
    list-style:none;
}

.li {
    color: black;
    font-size: 1vw;
    font-weight:300;
    position: relative;
    cursor: pointer;
    text-decoration:none;
}

.btns {
    width: 20vw;
    height: 10vh;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.addList {
    background-color: #2D4030;
    color: white;
    border: none;
    font-size: .5vw;
    transition: transform .5s, background-color .5s,color .5s;
}

    .addList:hover, .logout:hover {
        background-color: white;
        color: #2D4030;
        transform: scale(0.95);
    }

.logout {
    background-color: #2D4030;
    color: white;
    border: none;
    font-size: .5vw;
    transition: transform .5s, background-color .5s,color .5s;
}

/* Burger menu */
.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.burger {
    display: none;
}

/*FOOTER*/
.foot {
    width: 100%;
    background: linear-gradient(to left,#efefef,#e8e8e8);
    margin-top: 5vh;
}

.myFooter a {
    color: #333;
}

    .myFooter a:hover {
        color: cadetblue;
        transition: .3s ease;
    }

.myFooter {
    padding: 5vh 3vw;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

    .myFooter h2, p, h3, li {
        font-weight: normal;
        font-size: 16px;
    }

    .myFooter h2, h3 {
        font-weight: 600;
    }

.menu ul {
    margin: 0;
    padding: 0;
}

.copy {
    background: #100e0e;
    padding: 3vw;
    text-align: center;
    color: #fff;
}

.links i {
    color: cadetblue;
    font-size: 25px;
    text-align: left;
}

li {
    font-size: 15px;
}




@media screen and (max-width:600px) {
    

    navi h2 {
        width: 50vw;
        height: auto;
        font-size: 8vw;
        font-weight: 300;
    }
    .myFooter {
        display: none;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3vh;
    }

    .navi {
        display: flex;
        background-color:lightgray;
        flex-direction: column;
        position: fixed;
        z-index: 10;
    }

    .burger {
        display: block;
        position: absolute;
        right: 0;
        top: 2vh;
    }

    .navlink {
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
        transform: translateX(-100vw);
        position: fixed;
        position: absolute;
        transition: all 300ms ease-in-out;
    }

    .btns {
        display: flex;
        flex-direction: column;
        transform: translateY(-100vw);
        position: fixed;
        padding-bottom: 4vh;
    }

    .navlink.open-nav {
        display: flex;
        transform: translateX(0vw);
        position: relative;
    }

    .btns.open-nav {
        position: relative;
        transition: 0.4s ease-in-out;
        transform: translateX(0vw);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

